.container {
    display: flex;
    justify-content: space-around;
   
  }
  
  .bug-container {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #57c1cf;
  }
  
  .bug-container h2 {
    margin-top: 0;
  }
  
  .bug-container > div {
    margin-bottom: 8px;

  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  
  